/* Created by Tivotal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  animation: colorAnim 4s linear infinite;
}

@keyframes colorAnim {
  0%,
  100% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.wrapper {
  position: relative;
  width: 400px;
  height: 100px;
  transform-style: preserve-3d;
  animation: anim 4s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(21, 25, 25, 1), rgba(255, 6, 6, 1));
  transform-style: preserve-3d;
  transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
}

.top-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: #222;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-layer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: rgba(255, 6, 6, 1);
  transform: translateZ(-250px);
  opacity: 0.7;
  box-shadow: 0 0 120px rgba(255, 6, 6, 0.2), 0 0 200px rgba(255, 6, 6, 0.4),
    0 0 300px rgba(255, 6, 6, 0.6), 0 0 400px rgba(255, 6, 6, 0.8),
    0 0 500px rgba(255, 6, 6, 1);
}

.top-layer i {
  position: absolute;
  font-size: 250px;
  color: rgba(255, 6, 6, 1);
  text-shadow: 0 0 50px rgba(255, 6, 6, 0.2), 0 0 100px rgba(255, 6, 6, 0.5),
    0 0 200px rgba(255, 6, 6, 0.7), 0 0 300px rgba(255, 6, 6, 1);
}
